.kanban {
  display: flex;
  flex-direction: column;
  margin-bottom: 5dvh;
}

.kanban button {
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title h1 {
  font-size: 5vw;
  font-weight: 400;
}

@media (min-width:1366px){
.title h1 {
  font-size: 2vw;
}
}
